/* src/pages/Login/style.module.css */

/* 変更点: 中央寄せのためのスタイルを追加 */
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 画面全体の高さを使用 */
  background-color: var(--color-login-background);
}

.loggedInMessage {
  text-align: center;
}